/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

    /* color schemes2025-12-24T10:48:35-05:00 */
    color-scheme: light dark;

    /* named colors 2025-12-24T10:47:39-05:00 */
    --color-light-base: 255 255 255;
    --color-dark-base: 0 0 0;
    --color-light: rgb(255 255 255);
    --color-dark: rgb(0 0 0);
    --color-text: light-dark(var(--color-dark), var(--color-light));
    --color-link: light-dark(var(--color-gray-900), var(--color-gray-100));
    --color-brand: var(--color-purple-500);
    --color-accent: light-dark(var(--color-magenta-600), var(--color-magenta-500));
    --color-shaded: light-dark(#f9f9f9, #111);

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-xxxl: 25px;
  --body-font-size-xxl: 22px;
  --body-font-size-xl: 20px;
  --body-font-size-l: 18px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-line-height: 1.6;

  /* heading sizes */
  --heading-font-size-xxl: 32.44px;
  --heading-font-size-xl: 28.83px;
  --heading-font-size-l: 25.63px;
  --heading-font-size-m: 22.78px;
  --heading-font-size-s: 20.25px;
  --heading-font-size-xs: 18px;
  --heading-line-height: 1.15;

    /* misc */
    --nav-height: 64px;
    --header-height: 64px;
    --breadcrumb-height: 24px;

    /* grid */
    --grid-container-width: 83.4%;
    --grid-column-width: calc(var(--grid-container-width) / 12);
    --grid-gutter-width: 8.3%;
  
    /* spacing */
    --spacing-xxl: 48px;
    --spacing-xl: 32px;
    --spacing-l: 24px;
    --spacing-m: 12px;
    --spacing-s: 8px;
    --spacing-xs: 4px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

.light-scheme {
  color-scheme: light;
}

.dark-scheme {
  color-scheme: dark;
}

html {
  scroll-padding-top: calc(var(--header-height) + 1rem);
}

body {
  display: none;
  margin: 0;
  background-color: light-dark(var(--color-light), var(--color-dark));
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--body-font-size-m);
  line-height: var(--body-line-height);
  padding: var(--header-height) 0 0;

  &.has-breadcrumb {
    margin: calc(var(--header-height) + var(--breadcrumb-height)) 0 0;
  }

  &.no-header {
    --header-height: 0;

    margin: 0;
  }
}

body.appear {
  display: block;
}

header {
  height: var(--header-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: var(--heading-line-height);
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

strong {
  font-weight: 600;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main {
  ul,
  ol {
    padding-inline-start: 24px;

    /* Reduce nested lists even further */
    ul,
    ol {
      padding-inline-start: 12px;
    }
  }
}

li {
  margin-block: 1em;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links + buttons */
a {
  color: var(--color-link);

  &.btn {
    display: inline-block;
    line-height: 1;
    font-weight: 500;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 12px;
    box-sizing: border-box;

    &.btn-outline {
      background: transparent;
    }
  }

  &.btn-accent {
    color: #fff;
    background: var(--color-accent);
    border: 2px solid var(--color-accent);

    &.btn-outline {
      color: var(--color-accent);
    }
  }

  &.btn-primary {
    color: light-dark(var(--color-light), var(--color-dark));
    background-color: light-dark(var(--color-dark), var(--color-light));

    &.btn-outline {
      color: light-dark(var(--color-dark), var(--color-light));
      background: transparent;
    }
  }

  &.btn-secondary {
    color: light-dark(var(--color-light), var(--color-dark));
    background-color: var(--color-gray-500);
    border: 2px solid var(--color-gray-500);

    &.btn-outline {
      color: var(--color-gray-500);
    }
  }

  &.btn-negative {
    color: #fff;
    background-color: var(--color-red-600);
    border: 2px solid var(--color-red-600);

    &.btn-outline {
      color: var(--color-red-600);
    }
  }
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* add hover styles for buttons */

button {
  cursor: pointer;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* section metadata */
.section.light,
.section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

.section.hidden {
  display: none;
}

/* custom styles for sections 2025-12-24T10:35:58-05:00 */

.section {
  --top-bottom-spacing: 0;
  --section-container-width: var(--grid-container-width);
  --section-column-width: var(--grid-column-width);

  padding: var(--top-bottom-spacing) 0;
  display: block;

  > .default-content {
    max-width: var(--grid-container-width);
    margin: 0 auto;
  }

  > * {
    color: light-dark(var(--color-dark), var(--color-light));
  }

  &.grid-2 {
    --grid-size: 2;
  }

  &.grid-3 {
    --grid-size: 3;
  }

  &.grid-4 {
    --grid-size: 4;
  }

  &.grid-5 {
    --grid-size: 5;
  }

  &.grid-6 {
    --grid-size: 6;
  }

  &.gap-xs {
    --gap-spacing: var(--spacing-xs);
  }

  &.gap-s {
    --gap-spacing: var(--spacing-s);
  }

  &.gap-m {
    --gap-spacing: var(--spacing-m);
  }

  &.gap-l {
    --gap-spacing: var(--spacing-l);
  }

  &.gap-xl {
    --gap-spacing: var(--spacing-xl);
  }

  &.gap-xxl {
    --gap-spacing: var(--spacing-xxl);
  }

  &.spacing-xs {
    --top-bottom-spacing: calc(var(--spacing-xs) * 2);
  }

  &.spacing-s {
    --top-bottom-spacing: calc(var(--spacing-s) * 2);
  }

  &.spacing-m {
    --top-bottom-spacing: calc(var(--spacing-m) * 2);
  }

  &.spacing-l {
    --top-bottom-spacing: calc(var(--spacing-l) * 2);
  }

  &.spacing-xl {
    --top-bottom-spacing: calc(var(--spacing-xl) * 2);
  }

  &.spacing-xxl {
    --top-bottom-spacing: calc(var(--spacing-xxl) * 2);
  }

  &.grid .block-content {
    display: grid;
    gap: var(--gap-spacing);
  }

  &.center {
    .default-content {
      text-align: center;
    }
  }

  > .default-content > *:first-child {
    margin-top: 0;
  }

  &.container {
    .default-content,
    .block-content {
      max-width: var(--section-container-width);
      margin: 0 auto;
    }

    &.container-2 {
      --section-container-width: calc(var(--grid-column-width) * 4);
    }

    &.container-4 {
      --section-container-width: calc(var(--grid-column-width) * 8);
    }

    &.container-6 {
      --section-container-width: var(--grid-container-width);
    }
  }

  &.has-background {
    position: relative;

    .default-content,
    .block-content {
      position: relative;
    }
  }

  picture.section-background {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .section-background img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@media (width >= 600px) {
  .section {
    &.grid-2 .block-content {
      display: grid;
      grid-template-columns: repeat(var(--grid-size), 1fr);
    }
  }
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }

  .section {
    &.grid-4 .block-content,
    &.grid-6 .block-content {
      display: grid;
      grid-template-columns: repeat(calc(var(--grid-size) / 2), 1fr);
    }

    &.container.container-4 {
      --section-container-width: calc(var(--grid-column-width) * 4);
    }

    &.container.container-6 {
      --section-container-width: calc(var(--grid-column-width) * 6);
    }
  }
}

@media (width >= 1200px) {
  .section.grid .block-content {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
  }
}

@media (width >= 1440px) {
  :root {
    --grid-container-width: 1200px;
  }
}
